venv/
venv
holistic_dataset
holistic_dataset/
hands_dataset
hands_dataset/
.env
.newenv
affable-beach-453501-k9-12086968563e.json
affable-beach-453501-k9-7ffcc2b2efdf.json
keypoints
keypoints/
angles
angles/
angles_after_pad
angles_after_pad/
saved_frames
saved_frames/
custom_dataset
custom_dataset_2
certs/
*.key
*.crt
*.pem
*.mp4
